*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}


body {
    background-color: black;
    color: white;
}

header{
    background-color: #666;
    padding: 15px 15px 15px 15px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

nav ul li{
    margin-left: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

.banner{
    background: url(../img/banner.jpg) no-repeat center/cover;
    height: 320px;
    margin-top: 10.75em;
}

#inicio{
    text-align: center;
    font-size: 1.3em;
    text-shadow: 5px 5px 5px #000;
    color: #aaa;
    border: #000 ;
}

#resumo{
    text-align: center;
    font-size: 1.3em;
    text-shadow: 5px 5px 5px #000;
    color: #ffffff;
    border: #000 ;
    animation: inicio 3s infinite;
}

.red-h1{
    text-decoration: none;
}

#opcoes:hover{
    animation: menu 3s;
}

.logo{
    font-size: 2em;
    font-weight: bold;
    
}

#foto{
    width: 70px;
    align-content: center;
    border-radius: 90px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.helptitle{
    padding: 0 0 25px 0;
}

.formulario{
    padding: 0 0 25px 0;
}


@media (max-width: 946px){
    header .container{
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        margin-top: 10px;
        flex-direction: column;

    }
}

section{
    padding-top: 5%;
    padding-left: 1.5em;
}



#quemsao ol li{
    padding-top: 30px;
}

#artistic{
    max-width: 10em;
    max-height: 10em;
    width: auto;
    height: auto;
}

.consideracao {
    padding: 50px 0 50px 0;
}

#nomes{
    padding: 30px 0 30px 0;
}

label{
    display: block;
    margin: auto;
}

.ajuda{
    display: block;
    text-align: center;
}

.ajuda #enviar{
    margin-left: 10px;
}

.ajuda #questao{
    margin-left: 55px;
}

footer{
    color: rgb(255, 255, 255, 0.2);
    text-align: center;
    padding-top: 50px;
}

@keyframes menu {
    50%{
        transform: translateY(-10%);
        font-size: 1.3em;
    }
}

@keyframes inicio{
    50%{
        transform: translateY(-20%);
    }
}

#artistic{
    width: 140px;
    height: 120px;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    overflow: hidden;
    background-color: #a1a1a1;
    position: relative;
}

.quemsao img{
    width: 100%;
    /*height: 100%;
    object-fit: cover;*/
}